<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</h:head>
<h:body>
  <h:form>
	<p:dataTable var="empl" value="#{asignacionesViewBean.empleados}" widgetVar="empleadosTable" 
				emptyMessage="No empleados found" id="tabla">
             <p:column headerText="Id">
                 <h:outputText value="#{empl.secuencia}"/>
             </p:column>
            <p:column headerText="User Name">
                <h:outputText value="#{empl.userName}"/>
            </p:column>
            <p:column headerText="Name">
                <h:outputText value="#{empl.nombre}"/>
            </p:column>
      </p:dataTable>
      <p:commandButton value="Listar" action="#{asignacionesViewBean.setup}" update="tabla"/>
    </h:form>
</h:body>
</html>