
nav{
	
	position: fixed;
	width: 99%;
	height: 50px;
	background-color:#3276D6;
	
	color: white;
	padding-top: 12px;
	
}

.centrar{
	
	text-align: center;
	vertical-align: middle;
}

.left {
	text-align: left;
	padding-left: 10px;
}

.right{
	text-align: right;
	padding-right: 10px;
}

.background{
	background-color: #F4F0FE;
}

.colorHeader{
	background-color: grey !important;
	color:white;
	font-size: 14px;
}

#review-table th {
	color: red !important;
}

